@media (max-width: 1280px) {

  .container {
    padding: 0 25px;
    max-width: 874px;
  }

  /* header top */

  .header__top-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    max-width: 100%;
  }

  .header__logo {
    display: block;
    margin: 0 auto;
    padding: 23px 0;
    width: 100%;
    background-color: var(--color-light-color);
  }

  .header__logo-container {
    display: block;
    margin: 0 auto;
    padding: 0 25px;
    max-width: 874px;
  }

  .header-logo-link {
    width: 112px;
    height: 14px;
  }

  .header-logo-img {
    width: 112px;
    height: 14px;
  }

  .header__top-nav {
    margin-right: 35px;
  }

  .header__btns {
    padding: 20px 0;
  }

  .header__login-btn {
    padding: 0.63em 1.94em;
  }

  .search-form {
    top: 88px;
    right: 219px;
  }

  /* header bottom */

  .header__bottom-list-item:not(:last-child) {
    margin-right: 28px;
  }

  .header__bottom-player {
    padding: 10px 0;
  }

  .header__bottom-player-track {
    width: 150px;
  }

  .player-track-left {
    padding: 1px 8px 1px 10px;
  }

  .player-track-right {
    padding: 1px 10px 1px 9px;
  }

  .header__bottom-right-age-limit {
    display: none;
  }

  /* section hero */

  .hero__container {
    padding-top: 83px;
    padding-bottom: 85px;
  }

  .hero__content {
    margin: 4px 0 0 0;
    padding: 0;
  }

  .hero__title {
    margin: 0 0 18px 0;
  }

  .hero__text {
    margin: 0 0 20px 0;
    max-width: 510px;
  }

  .hero__img-image {
    margin-top: -4px;
  }

  /* section podcasts */

  .podcasts__container {
    padding-top: 91px;
    padding-bottom: 92px;
  }

  .podcasts__list-item {
    width: 397px;
  }

  /* section transfers */

  .transfers__container {
    padding-top: 91px;
    padding-bottom: 96px;
  }
  .transfers__left {
    display: grid;
    grid-template-columns: repeat(3, minmax(255px, 1fr));
    gap: 30px;
  }

  .transfers-left-top {
    grid-column: 1 / 1 span;
  }

  .transfers-left-bottom {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1 / 1 span;
    grid-row: 2 / 1 span;
    margin-top: -93px;
  }

  .transfers-left-bottom-img {
    margin-bottom: 19px;
  }

  .transfers__right {
    margin-top: -43px;
    grid-column: 2 / 2 span;
    grid-row: 1 / 2 span;
  }



  /* section guests*/

  .guests__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .guests__text {
    max-width: 540px;
  }

  .accordion {
    margin-right: 30px;
  }

  .accordion__item-content {
    padding: 29px 0 15px 0;
  }

  .accordion__list {
    columns: 3 auto;
    column-gap: 28px;
  }

  .guests__card {
    max-width: 255px;
  }

  /* section playlists */

  .playlists__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .radio-list {
    columns: 2 auto;
    column-gap: 0;
    max-width: 337px;
  }

  .playlists__list {
    display: grid;
    grid-template-columns: repeat(3, 255px);
    grid-template-rows: repeat(4, 112px);
    gap: 30px;
    margin-top: -8px;
  }

  .playlists__left-bottom-text {
    max-width: 100%;
  }

  .playlists__list-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .playlists__list-item-top {
    min-height: 112px;
    height: 112px;
  }

  .playlists__list-item-top-lang {
    left: 0;
  }

  .playlists__list-item-bottom {
    padding:  37px 5px 14px 9px;
    border: 1px solid var(--color-light-color);
    height: 112px;
    width: 100%;
  }

  .playlists__list-item-top > img {
    width: 112px;
  }

  .radio-box {
    grid-column: 1 / 4 span;
    grid-row: 1 / 1 span;
  }

  .playlists__right {
    margin-top: 0;
    margin-bottom: 10px;
    grid-column: 1 / 4 span;
    grid-row: 2 / 6 span;
  }

  .playlists__left-bottom {
    grid-column: 1 / 4 span;
    grid-row: 8 / 1 span;
    margin-top: 0;
    padding-top: 40px;
  }

   /* section radio-column */

    .radio-column__container {
    padding-top: 91px;
    padding-bottom: 93px;
    align-items: center;
  }

  .radio-column__left {
    margin: 7px 30px 0 0;
  }

  .radio-column__left-img {
    margin-left: 0px;
  }

  .radio-column__right {
    max-width: 397px;
  }

  .radio-column__right-price {
    margin-bottom: 32px;
  }

  /* section about-container */

  .about__container {
    padding-top: 91px;
    padding-bottom: 92px;
  }

  .about__top-text {
    max-width: 540px;
  }

  .about__image-box {
    margin-top: 52px;
  }

  .about__spiral-image {
    display: none;
  }

  .about__list {
    margin-bottom: 37px;
  }

  .slick-next {
    right: -65px;
  }

  .slick-prev {
    left: -65px;
  }

  .about__form-textarea {
    width: 100%;
  }

  .about__form-input {
    width: 397px;
  }

  /* section footer */

  .footer {
    padding-top: 95px;
  }

  .copyright__text {
    background-position: -24px 2px;
    background-size: 190%;
  }
}

@media (max-width: 992px) {

  .container {
    padding: 0 15px;
    max-width: 570px;
  }

  .header__top-container {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    max-width: 100%;
  }

  .header__logo-container {
    padding: 0 15px;
    max-width: 570px;
  }

  .header__top-nav {
    position: absolute;
    top: -150vw;
    left: 0;
    display: block;
    margin: 0;
    padding: 27px 106px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-shade-gray);
    z-index: 10;
    background-image: url(../img/burger-decor-spiral.svg), url(../img/burger-decor-spiral2.svg);
    background-size: 115px 363px, 114px 365px;
    background-repeat: no-repeat, no-repeat;
    background-position: 391px 61px, 534px -25px;
    transition: top 0.3s ease-in-out;
  }

  .header__bottom-btn-container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
  }

  .burger__btn {
    display: flex;
  }

  .burger__close-btn {
    display: block;
  }

  .header__list {
    align-items: flex-start;
    flex-direction: column;
    column-gap: 48px;
    flex-wrap: wrap;
    max-width: 250px;
    max-height: 200px;
  }

  .header__list-item {
    margin: 0;
  }

  .header__list-item:not(:last-child) {
    margin-right: 0;
  }

  .header__list-item:not(:nth-child(3n)) {
    margin-bottom: 63px;
  }

  .header__bottom-list-item:not(:last-child) {
    margin-right: 29px;
  }

  .is-active {
    top: 0;
  }

  .player-track-right {
    display: none;
  }

  .header__bottom-track {
    display: none;
  }

  .header__bottom-player {
    padding: 16px 0 18px 0;
  }

  .header__bottom-player-track {
    width: 100%;
    border: none;
  }

  .player-track-btn {
    margin: 0;
  }

  .player-track-left {
    padding: 0;
  }

  /* section hero */

  .hero__container {
    padding-top: 82px;
    padding-bottom: 90px;
  }

  .hero__text {
    margin: 0 0 21px 0;
  }

  .hero__img {
    display: none;
  }

  /* section podcasts */

  .podcasts__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .podcasts__list-item {
    width: 100%;
  }

  .podcasts__list-item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .podcasts__list-item:nth-last-child(n+2) {
    margin-bottom: 30px;
  }

  /* section transfers */

  .transfers {
    position: relative;
  }

  .transfers__container {
    padding-top: 91px;
    padding-bottom: 25px;
  }

  .transfers__left {
    grid-template-columns: repeat(2, minmax(255px, 1fr));
  }

  .transfers-left-top {
    grid-column: 1 / 2 span;
    grid-row: 1 span;
  }

  .transfers-left-bottom {
    margin: 30px auto 0 auto;
    grid-column: 1 / 2 span;
    grid-row: 6 / 1 span;
    display: grid;
    column-gap: 20px;
    max-width: 343px;
    justify-items: flex-start;
  }

  .transfers-left-bottom-img {
    margin-bottom: 0;
    grid-column: 1 / 1 span;
    grid-row: 1 / 2 span;
  }

  .transfers-left-bottom-link {
    grid-column: 2 / 1 span;
    grid-row: 1 / 1 span;
    margin-bottom: 0;
  }

  .transfers-left-bottom__describe {
    grid-column: 2 / 1 span;
    grid-row: 2 / 1 span;
  }

  .transfers__right {
    position: relative;
    margin-top: 18px;
    grid-column: 1 / 2 span;
    grid-row: 3 span;
  }

  .transfers-left-bottom-border {
    position: absolute;
    bottom: 156px;
    left: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid var(--color-light-color);
  }

  /* .transfers__right::before {
    content: '';
    position: absolute;
    bottom: -61px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    border-bottom: 1px solid var(--color-light-color);
  } */

  .transfers__list {
    margin-bottom: 2px;
  }

  /* section guests */

  .guests__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .guests__inner {
    flex-wrap: wrap;
  }

  .accordion {
    margin: 0 0 51px 0;
  }

  .accordion__list-item {
    margin-bottom: 28px;
  }

  .accordion__item-content {
    padding: 29px 0 0px 0;
  }

  .guests__card {
    max-width: 400px;
  }

  .guests__card-image {
    margin: 0px 0 8px 0;
  }

  /* section playlists */

  .playlists__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .radio-box {
    grid-column: 1 / 2 span;
    grid-row: 1 / 1 span;
  }

  .playlists__left-bottom {
    grid-column: 1 / 2 span;
    grid-row: 8 / 1 span;
    margin-top: 2px;
    padding-top: 38px;
  }

  .radio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .playlists__right {
    margin-top: 12px;
    grid-column: 1 / 2 span;
    grid-row: 2 / 6 span;
  }

  .playlists__list {
    grid-template-columns: repeat(2, 255px);
  }

  .playlists__left-bottom-text {
    max-width: 77%;
  }

  /* section radio-column */

  .radio-column__container {
    padding-top: 54px;
    padding-bottom: 93px;
    flex-wrap: wrap;
  }

  .radio-column__left {
    margin: 0 0 43px 0;
  }

  .radio-column__left-img {
    max-width: 100%;
    margin: 0;
  }

  .radio-column__right {
    max-width: 100%;
  }

  .radio-column__title {
    max-width: 390px;
  }

  .radio-column__text-top {
    min-width: 535px;
  }

  .radio-column__text-bottom {
    min-width: 100%;
  }

  /* section about */

  .about__container {
    padding-top: 91px;
    padding-bottom: 92px;
  }

  .about__top {
    flex-wrap: wrap;
  }

  .about__image-box {
    margin: 0 0 25px 0;
  }

  .about__spiral-image {
    display: inline-block;
    margin-right: 0px;
    width: 514px;
    height: 118px;
    transform: translateX(-114px);
  }

  .about__spiral-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/about-spiral-large.svg);
    background-repeat: no-repeat;
  }

  .about__dawn-image {
    display: inline-block;
    width: 112px;
    height: 112px;
    transform: translate(-86px, -2px);
  }

  .about__dawn-image > svg {
    width: 100%;
    height: 100%;
  }

  .about__list {
    margin-bottom: 30px;
  }

  .about__form-input-box {
    display: block;
  }

  .about__form-input {
    width: 100%;
  }

  .about__text {
    margin-bottom: 30px;
  }

  /* section footer */

  .footer__container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__social-list {
    justify-content: center;
    max-width: 100%;
    margin-bottom: 73px;
    gap: 21px;
  }

  .footer__social-link {
    outline: none;
    width: 36px;
    height: 36px;
    display: inline-block;
  }

  .footer__social-link > svg {
    width: 100%;
    height: 100%;
  }

  .footer__nav-list {
    display: block;
    width: 541px;
    columns: 3 auto;
    column-gap: 170px;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 27px;
  }

  .copyright {
    padding-top: 76px;
  }

  .copyright__text {
    background-position: -25px 1px;
    background-size: 258%;
  }

  /******************/
  /* modal form entrance */

  .modal-entrance__inner {
    position: absolute;
    top: 80px;
    padding: 60px 40px;
    width: 539px;
    background-color: var(--color-black);
    z-index: 101;
  }

  .modal-entrance__text {
    display: flex;
    justify-content: space-between;
  }

  .modal-entrance__link {
    margin: 0;
  }

  .modal-entrance__form-input {
    width: 100%;
  }

}

@media (max-width: 576px) {

  .container {
    padding: 0 10px;
    max-width: 276px;
  }

  /* section header */

  .header__top-container {
    padding: 0;
    max-width: 100%;
  }

  .header__logo-container {
    padding: 0 10px;
    max-width: 276px;
  }

  .header__top-nav {
    position: absolute;
    top: -190vw;
  }

  .is-active {
    top: 0;
  }

  .header__logo {
    padding: 18px 0 22px 0;
  }

  .header__bottom-btn-container {
    padding: 0px 10px;
    width: 276px;
  }

  .header__btns {
    position: relative;
    padding: 13px 0;
  }

  .header__login-btn {
    position: absolute;
    top: -45px;
    left: -63px;
    padding: 0.46em 1.4em;
  }

  .header__search-btn {
    margin: 0;
  }

  .header-logo-img {
    width: 87px;
    height: 10px;
  }

  .burger__close-btn {
    margin-bottom: 24px;
  }

  .header__top-nav {
    padding: 13px 32px 24px 32px;
    height: 50vh;
  }


  /* section hero */

  .hero__container {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .hero__content {
    margin: 0;
  }

  .hero__title {
    margin: 0 0 9px 0;
    font-size: 32px;
  }

  .hero__title-decorate {
    font-size: 32px;
    line-height: 100%;
  }

  .hero__text {
    margin: 0px 0 21px 0;
    font-size: 14px;
    max-width: 251px;
  }

  .hero-btn {
    padding: 0.95em 2.72em;
    font-size: 16px;
    line-height: 16px;
  }











  /* section about */

  .about__image-box {
    display: none;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .about__item {
    padding: 0 10px;
    max-width: 133px;
  }

  .about__item-img {
    margin-bottom: 12px;
  }

  .about__item-title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    max-width: 100px;
  }

  .about__item-description {
    font-size: 12px;
    line-height: 16px;
  }

  /* modal */

  .modal-entrance__inner {
    top: 55px;
    padding: 40px 20px;
    width: 256px;
  }

  .modal-entrance__title {
    margin-bottom: 7px;
    font-size: 24px;
  }

  .modal-entrance__close-btn {
    top: 20px;
    right: 20px;
  }

  .modal-entrance__close-btn > svg {
    width: 28px;
    height: 28px;
  }

  .modal-entrance__text {
    display: block;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
  }

  .modal-entrance__link {
    display: block;
    margin-top: -10px;
    margin-bottom: 19px;
    width: fit-content;
  }

  .modal-entrance__form {
    margin-bottom: 9px;
  }

  .modal-entrance__form-input {
    margin-bottom: 21px;
    padding: 9px 17px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal-entrance__form-input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .modal-entrance__form-btn {
    margin-bottom: 29px;
    padding: 10px 55px;
  }

  .modal-entrance__text-in {
    margin-bottom: 11px;
  }

  .modal-entrance__list {
    justify-content: space-between;
  }

}
