@media (max-width: 1280px) {

  .container {
    padding: 0 25px;
    max-width: 874px;
  }

  /* header top */

  .header__top-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    max-width: 100%;
  }

  .header__logo {
    display: block;
    margin: 0 auto;
    padding: 23px 0;
    width: 100%;
    background-color: var(--color-light-color);
  }

  .header__logo-container {
    display: block;
    margin: 0 auto;
    padding: 0 25px;
    max-width: 874px;
  }

  .header-logo-link {
    width: 112px;
    height: 14px;
  }

  .header-logo-img {
    width: 112px;
    height: 14px;
  }

  .header__top-nav {
    margin-right: 35px;
  }

  .header__btns {
    padding: 20px 0;
  }

  .header__login-btn {
    padding: 0.63em 1.94em;
  }

  .search-form {
    top: -200%;
    right: 128px;
  }

  .search-form__is-active {
    top: 28px;
  }

  /* header bottom */

  .header__bottom-list-item:not(:last-child) {
    margin-right: 28px;
  }

  .header__bottom-player {
    padding: 10px 0;
  }

  .header__bottom-player-track {
    width: 150px;
  }

  .player-track-left {
    padding: 1px 8px 1px 10px;
  }

  .player-track-right {
    padding: 1px 10px 1px 9px;
  }

  .header__bottom-right-age-limit {
    display: none;
  }

  /* section hero */

  .hero__container {
    padding-top: 83px;
    padding-bottom: 85px;
  }

  .hero__content {
    margin: 4px 0 0 0;
    padding: 0;
  }

  .hero__title {
    margin: 0 0 18px 0;
  }

  .hero__text {
    margin: 0 0 20px 0;
    max-width: 510px;
  }

  .hero__img-image {
    margin: 0px -1px 0px 0;
  }

  /* section podcasts */

  .podcasts__container {
    padding-top: 91px;
    padding-bottom: 92px;
  }

  .podcasts__list-item {
    width: 397px;
  }

  /* section transfers */

  .transfers__container {
    padding-top: 91px;
    padding-bottom: 96px;
  }
  .transfers__left {
    display: grid;
    grid-template-columns: repeat(3, minmax(255px, 1fr));
    gap: 30px;
  }

  .transfers-left-top {
    grid-column: 1 / 1 span;
  }

  .transfers-left-bottom {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1 / 1 span;
    grid-row: 2 / 1 span;
    margin-top: -93px;
  }

  .transfers-left-bottom-img {
    margin-bottom: 19px;
  }

  .transfers__right {
    margin-top: -43px;
    grid-column: 2 / 2 span;
    grid-row: 1 / 2 span;
  }



  /* section guests*/

  .guests__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .guests__text {
    max-width: 540px;
  }

  .accordion {
    margin-right: 30px;
  }

  .accordion__item-content {
    padding: 28px 0 20px 0;
  }

  .accordion__list {
    columns: 3 auto;
    column-gap: 28px;
  }

  .guests__card {
    max-width: 255px;
  }

  .guests__card-image {
    margin: 0px 0 7px 0;
  }

  .guests__card-describtion {
    margin: 0 0 31px 0;
    line-height: 181%;
  }

  .guests__card-link {
    padding: 8px 18px 12px 18px;
  }

  /* section playlists */

  .playlists__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .radio-list {
    columns: 2 auto;
    column-gap: 0;
    max-width: 337px;
  }

  .playlists__list {
    display: grid;
    grid-template-columns: repeat(3, 255px);
    grid-template-rows: repeat(4, 112px);
    gap: 30px;
    margin-top: -8px;
  }

  .playlists__left-bottom-text {
    max-width: 100%;
  }

  .playlists__list-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .playlists__list-item-top {
    min-height: 112px;
    height: 112px;
  }

  .playlists__list-item-top-lang {
    left: 0;
  }

  .playlists__list-item-bottom {
    padding:  37px 5px 14px 9px;
    border: 1px solid var(--color-light-color);
    height: 112px;
    width: 100%;
  }

  .playlists__list-item-top > img {
    width: 112px;
  }

  .radio-box {
    grid-column: 1 / 4 span;
    grid-row: 1 / 1 span;
  }

  .playlists__right {
    margin-top: 0;
    margin-bottom: 10px;
    grid-column: 1 / 4 span;
    grid-row: 2 / 6 span;
  }

  .playlists__left-bottom {
    grid-column: 1 / 4 span;
    grid-row: 8 / 1 span;
    margin-top: 0;
    padding-top: 40px;
  }

   /* section radio-column */

    .radio-column__container {
    padding-top: 91px;
    padding-bottom: 94px;
    align-items: center;
  }

  .radio-column__left {
    margin: 7px 30px 0 0;
  }

  .radio-column__left-img {
    margin-left: 0px;
  }

  .radio-column__right {
    max-width: 397px;
  }

  .radio-column__title {
    margin-bottom: 21px;
  }

  .radio-column__vector-decorate {
    margin-bottom: 18px;
    background-position: -146px 0px;
  }

  .radio-column__text-top {
    margin: 0 0 13px 0;
  }

  .radio-column__right-price {
    margin-bottom: 31px;
  }

  /* section about-container */

  .about__container {
    padding-top: 91px;
    padding-bottom: 92px;
  }

  .about__top-text {
    max-width: 540px;
  }

  .about__text {
    margin-bottom: 31px;
  }

  .about__image-box {
    margin-top: 52px;
  }

  .about__spiral-image {
    display: none;
  }

  .about__list {
    margin-bottom: 37px;
  }

  .slick-next {
    right: -65px;
  }

  .slick-prev {
    left: -65px;
  }

  .about__form-textarea {
    width: 100%;
  }

  .about__form-input {
    width: 397px;
  }

  /* section footer */

  .footer {
    padding-top: 94px;
  }

  .footer__nav {
    margin-top: -2px;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 18px;
  }
  .copyright {
    padding-top: 88px;
  }

  .copyright__text {
    background-position: -28px 2px;
    background-size: 191%;
  }
}

@media (max-width: 992px) {

  .container {
    padding: 0 15px;
    max-width: 570px;
  }

  .header__top-container {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    max-width: 100%;
  }

  .header__logo-container {
    padding: 0 15px;
    max-width: 570px;
  }

  .header__login-btn {
    padding: 0.63em 1.93em;
  }

  .header__top-nav {
    position: absolute;
    top: -300vw;
    left: 0;
    display: block;
    margin: 0;
    padding: 27px 106px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-shade-gray);
    z-index: 10;
    background-image: url(../img/burger-decor-spiral.svg), url(../img/burger-decor-spiral2.svg);
    background-size: 115px 363px, 114px 365px;
    background-repeat: no-repeat, no-repeat;
    background-position: 391px 61px, 534px -25px;
    transition: top 0.3s ease-in-out;
  }

  .header__bottom-btn-container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
  }

  .header__burger-btn {
    display: flex;
  }

  .burger-close-btn {
    display: block;
  }

  .header__list {
    align-items: flex-start;
    flex-direction: column;
    column-gap: 48px;
    flex-wrap: wrap;
    max-width: 250px;
    max-height: 200px;
  }

  .header__list-item {
    margin: 0;
  }

  .header__list-item:not(:last-child) {
    margin-right: 0;
  }

  .header__list-item:not(:nth-child(3n)) {
    margin-bottom: 63px;
  }

  .header__bottom-list-item:not(:last-child) {
    margin-right: 29px;
  }

  .is-active {
    top: 0;
  }

  .player-track-right {
    display: none;
  }

  .header__bottom-track {
    display: none;
  }

  .header__bottom-player {
    padding: 16px 0 18px 0;
  }

  .header__bottom-player-track {
    width: 100%;
    border: none;
  }

  .player-track-btn {
    margin: 0;
  }

  .player-track-left {
    padding: 0;
  }

  /* section hero */

  .hero__container {
    padding-top: 82px;
    padding-bottom: 90px;
  }

  .hero__text {
    margin: 0 0 21px 0;
  }

  .hero__img {
    display: none;
  }

  /* section podcasts */

  .podcasts__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .podcasts__list-item {
    width: 100%;
  }

  .podcasts__list-item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .podcasts__list-item:nth-last-child(n+2) {
    margin-bottom: 30px;
  }

  /* section transfers */

  .transfers {
    position: relative;
  }

  .transfers__container {
    padding-top: 91px;
    padding-bottom: 25px;
  }

  .transfers__left {
    grid-template-columns: repeat(2, minmax(255px, 1fr));
  }

  .transfers-left-top {
    grid-column: 1 / 2 span;
    grid-row: 1 span;
  }

  .transfers-left-bottom {
    margin: 30px auto 0 auto;
    grid-column: 1 / 2 span;
    grid-row: 6 / 1 span;
    display: grid;
    column-gap: 20px;
    max-width: 343px;
    justify-items: flex-start;
  }

  .transfers-left-bottom-img {
    margin-bottom: 0;
    grid-column: 1 / 1 span;
    grid-row: 1 / 2 span;
  }

  .transfers-left-bottom-link {
    grid-column: 2 / 1 span;
    grid-row: 1 / 1 span;
    margin-bottom: 0;
  }

  .transfers-left-bottom__describe {
    grid-column: 2 / 1 span;
    grid-row: 2 / 1 span;
  }

  .transfers__right {
    position: relative;
    margin-top: 18px;
    grid-column: 1 / 2 span;
    grid-row: 3 span;
  }

  .transfers-left-bottom-border {
    position: absolute;
    bottom: 156px;
    left: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid var(--color-light-color);
  }

  /* .transfers__right::before {
    content: '';
    position: absolute;
    bottom: -61px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    border-bottom: 1px solid var(--color-light-color);
  } */

  .transfers__list {
    margin-bottom: 2px;
  }

  /* section guests */

  .guests__container {
    padding-top: 91px;
    padding-bottom: 93px;
  }

  .guests__inner {
    flex-wrap: wrap;
  }

  .accordion {
    margin: 0 0 50px 0;
  }

  .accordion__list-item {
    margin-bottom: 28px;
  }

  .accordion__item-content {
    padding: 29px 0 0 0;
  }

  .guests__card {
    max-width: 400px;
  }

  .guests__card-image {
    margin: 0px 0 8px 0;
  }

  /* section playlists */

  .playlists__container {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  .radio-box {
    grid-column: 1 / 2 span;
    grid-row: 1 / 1 span;
  }

  .playlists__left-bottom {
    grid-column: 1 / 2 span;
    grid-row: 8 / 1 span;
    margin-top: 2px;
    padding-top: 38px;
  }

  .radio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .playlists__right {
    margin-top: 12px;
    grid-column: 1 / 2 span;
    grid-row: 2 / 6 span;
  }

  .playlists__list {
    grid-template-columns: repeat(2, 255px);
  }

  .playlists__left-bottom-text {
    max-width: 77%;
  }

  /* section radio-column */

  .radio-column__container {
    padding-top: 54px;
    padding-bottom: 94px;
    flex-wrap: wrap;
  }

  .radio-column__left {
    margin: 0 0 43px 0;
  }

  .radio-column__left-img {
    max-width: 100%;
    margin: 0;
  }

  .radio-column__right {
    max-width: 100%;
  }

  .radio-column__title {
    max-width: 390px;
  }

  .radio-column__vector-decorate {
    margin-bottom: 18px;
    width: 101%;
    background-image: url(../img/radio-column-vector-768.svg);
    background-position: -186px 0px;
  }

  .radio-column__text-top {
    min-width: 535px;
  }

  .radio-column__text-bottom {
    min-width: 100%;
  }

  .radio-column__right-link {
    padding: 23px 12px 23px 11px;
  }

  /* section about */

  .about__container {
    padding-top: 91px;
    padding-bottom: 92px;
  }

  .about__top {
    flex-wrap: wrap;
  }

  .about__image-box {
    margin: 0 0 25px 0;
  }

  .about__spiral-image {
    display: inline-block;
    margin-right: 0px;
    width: 514px;
    height: 118px;
    transform: translateX(-114px);
  }

  .about__spiral-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/about-spiral-large.svg);
    background-repeat: no-repeat;
  }

  .about__dawn-image {
    display: inline-block;
    width: 112px;
    height: 112px;
    transform: translate(-86px, -2px);
  }

  .about__dawn-image > svg {
    width: 100%;
    height: 100%;
  }

  .about__list {
    margin-bottom: 30px;
  }

  .about__form-input-box {
    display: block;
  }

  .about__form-input {
    width: 100%;
  }

  .about__text {
    margin-bottom: 30px;
  }

  /* section footer */

  .footer__container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__social-list {
    justify-content: center;
    max-width: 100%;
    margin-bottom: 76px;
    gap: 21px;
  }

  .footer__social-link {
    outline: none;
    width: 36px;
    height: 36px;
    display: inline-block;
  }

  .footer__social-link > svg {
    width: 100%;
    height: 100%;
  }

  .footer__nav-list {
    display: block;
    width: 541px;
    columns: 3 auto;
    column-gap: 170px;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 27px;
  }

  .copyright {
    padding-top: 76px;
  }

  .copyright__text {
    background-position: -25px 1px;
    background-size: 258%;
  }

  /******************/
  /* modal form entrance */

  .modal-entrance__inner {
    position: absolute;
    top: -100%;
    padding: 60px 40px;
    width: 539px;
    background-color: var(--color-black);
    z-index: 101;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, top 1s ease-in-out;
  }

  .modal-entrance__inner-is-active {
    top: 80px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, top 1s ease-in-out;
  }

  .modal-entrance__text {
    display: flex;
    justify-content: space-between;
  }

  .modal-entrance__link {
    margin: 0;
  }

  .modal-entrance__form-input {
    width: 100%;
  }

}

@media (min-width: 320px) and (max-width: 576px) and (orientation:landscape) {
	/* стили для пейзажа */
  .modal-entrance__inner-is-active {
    top: 60px;
    height: 75vh;
    overflow-y: scroll;
  }
}

@media (max-width: 576px) {

  .container {
    padding: 0 10px;
    max-width: 276px;
  }

  /* section header */

  .header__top-container {
    padding: 0;
    max-width: 100%;
  }

  .header__logo-container {
    padding: 0 10px;
    max-width: 276px;
  }

  .header__top-nav {
    position: absolute;
    padding: 13px 32px 24px 32px;
    top: -200vw;
    height: 58vh;
    background-image: none;
  }

  .header__bottom-container-is-relative {
    position: relative;
  }

  .header__bottom-player {
    position: absolute;
    left: 0;
    bottom: -74px;
    padding: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .header__bottom-player-track {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px 5px 6px 10px;
    max-width: 118px;
  }

  .player-track-btn {
    margin: 0 0 6px 0;
  }

  .player-track-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  .player-track-description {
    margin: 0 0 4px 0;
  }

  .header__bottom-track {
    display: flex;
  }

  .player-track-right {
    display: flex;
  }

  .player-track-left {
    margin-right: 25px;
    border-right: 1px solid var(--color-light-color);
  }

  .player-track-description {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
  }

  .header__bottom-player-is-active {
    opacity: 1;
  }




  .header__bottom-nav {
    position: absolute;
    top: -200vh;
    left: 0;
    padding: 30px 32px;
    height: 42vh;
    width: 100%;
    background-color: white;
    z-index: 100;
    transition: top 0.3s ease-in-out;
  }

  .is-active {
    top: 0;
  }

  .header__bottom-nav-is-active {
    top: 58vh;
  }

  .header__bottom-list {
    display: block;
    columns: 2 auto;
    column-gap: 50px;
  }

  .header__bottom-list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__logo {
    padding: 18px 0 22px 0;
  }

  .header__bottom-btn-container {
    padding: 0px 10px;
    width: 276px;
  }

  .header__btns {
    position: relative;
    padding: 13px 0;
  }

  .header__login-btn {
    position: absolute;
    top: -45px;
    left: -63px;
    padding: 0.46em 1.4em;
  }

  .header__search-btn {
    margin: 0;
  }

  .search-form {
    top: -200%;
    right: 0;
  }

  .search-form__is-active {
    top: 13px;
  }

  .search-input {
    width: 188px;
  }

  .header-logo-img {
    width: 87px;
    height: 10px;
  }

  .burger-close-btn {
    margin-bottom: 24px;
  }

  .header__botoom-player-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header__botoom-player-menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 12px 0 15px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-primary);
  }

  .header__botoom-player-menu-btn > span {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 13px;
    transition: transform 0.3s ease-in-out;
  }

  .header__botoom-player-menu-btn-is-active > span {
    transform: rotate(45deg);
  }

  /* section hero */

  .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .hero__container {
    padding-top: 38px;
    padding-bottom: 40px;
  }

  .hero__content {
    margin: 0;
  }

  .hero__title {
    margin: 0 0 9px 0;
    font-size: 32px;
  }

  .hero__title-decorate {
    font-size: 32px;
    line-height: 100%;
  }

  .hero__text {
    margin: 0px 0 21px 0;
    font-size: 14px;
    max-width: 251px;
  }

  .hero-btn {
    padding: 0.79em 2.72em 1.1em 2.72em;
    font-size: 16px;
    line-height: 16px;
  }

  /* section podcasts */

  .podcasts__container {
    padding-top: 53px;
    padding-bottom: 54px;
  }

  .podcasts__title {
    margin-bottom: 21px;
  }

  .podcasts__list-item {
    flex-direction: column;
  }

  .podcasts__list-item:nth-last-child(n+2) {
    margin-bottom: 31px;
  }

  .podcasts__list-item:nth-child(4) {
    margin-bottom: 31px;
  }

  .podcasts__prew {
    width: 256px;
    height: 72px;
  }

  .podcasts__prew-date {
    top: 0;
  }

  .podcasts-list-item-inner-top {
    padding: 15px 16px 17px 16px;
  }

  .podcasts-list-item-inner-top__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts-list-item-inner-top__author {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts-list-item-inner-top__btn {
    margin-top: 5px;
    width: 36px;
    height: 36px;
  }

  .podcasts-list-item-inner-top__btn > svg {
    width: 36px;
    height: 36px;
  }

  .item-inner-bottom-list {
    padding: 6px 24px 8px 34px;
  }

  .item-inner-bottom-list-item-btn {
    display: flex;
    align-items: center;
  }

  .item-inner-bottom-list-item-btn span {
    margin-left: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .item-inner-bottom-list__item {
    margin-right: 31px;
  }

  .podcast-btn {
    margin: 0 auto;
    padding: 13px 28px 17px 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }


  /* section transfers */

  .transfers__container {
    padding-top: 53px;
    padding-bottom: 26px;
  }

  .transfers__title {
    margin-bottom: 20px;
  }

  .transfers-select-label {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .transfers__left {
    grid-template-columns: repeat(1, minmax(256px, 1fr));
  }

  .transfers-left-top {
    grid-column: 1 / 1 span;
  }

  .transfers__right {
    margin-top: 0;
    grid-column: 1 / 1 span;
  }

  .transfers-left-bottom {
    grid-column: 1 / 1 span;
  }

  .transfers__list {
    margin-bottom: 3px;
    grid-template-columns: repeat(2, minmax(113px, 1fr));
  }

  .transfers-item-img {
    width: 113px;
    height: 50px;
  }

  .transfers__list-item-bottom {
    padding: 8px 9px 11px 9px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    min-height: 99px;
  }

  .transfers__list-item-title {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
  }

  .transfers__list-item-description {
    margin: 0;
    font-size: 9px;
    line-height: 9px;
  }

  .transfers__list-item-link {
    font-size: 12px;
    line-height: 12px;
  }

  .transfers__list-item:nth-child(4) .transfers__list-item-title {
    margin: 0;
  }

  .transfers__list-item:nth-child(5) .transfers__list-item-title {
    margin: 0;
  }

  .transfers__list-item-link-icon {
    width: 28px;
    height: 12px;
  }

  .transfers-left-bottom-border {
    bottom: 164px;
  }

  .transfers-left-bottom {
    margin: -3px auto 0 auto;
  }

  .transfers-left-bottom-link {
    grid-column: 2 / 1 span;
    grid-row: 2 / 1 span;
    padding: 0.45em 1.85em;
    margin-left: -7px;
  }

  .transfers-left-bottom__describe {
    grid-column: 2 / 1 span;
    grid-row: 1 / 1 span;
    margin-bottom: 3px;
    margin-left: -7px;
    font-size: 14px;
    line-height: 150%;
  }


  /* section guests */

  .guests__container {
    padding-top: 53px;
    padding-bottom: 54px;
  }

  .guests__title {
    margin-bottom: 12px;
  }

  .guests__subtitle {
    margin: 0;
    font-size: 14px;
  }

  .guests__text {
    margin: 0 0 29px 0;
    font-size: 14px;
  }

  .accordion {
    margin: 0 0 30px 0;
    width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .accordion__item  {
    padding: 13px 2px 13px 0px;
  }

  .accordion__item:nth-child(1)  {
    display: none;
  }

  .accordion__item:nth-child(3)  {
    order: 3;
  }

  .accordion__item:nth-child(5)  {
    order: 5;
  }

  .accordion__item:nth-child(7)  {
    order: 7;
  }

  .accordion__item:nth-child(9)  {
    margin: 0;
    order: 1;
  }

  .accordion__item:nth-child(11)  {
    order: 9;
  }

  .accordion__item-content {
    padding: 16px 0 20px 0;
  }

  .accordion__item-content:nth-child(2)  {
    display: none !important;
  }

  .accordion__item-content:nth-child(4)  {
    order: 4;
  }

  .accordion__item-content:nth-child(6)  {
    order: 6;
  }

  .accordion__item-content:nth-child(8)  {
    order: 8;
  }

  .accordion__item-content:nth-child(10)  {
    order: 2;
  }

  .accordion__item-content:nth-child(12)  {
    order: 10;
  }

  .accordion__item > svg {
    width: 25px;
    height: 25px;
  }

  .accordion__item-title {
    margin-top: -2px;
    font-size: 16px;
    line-height: 16px;
  }

  .accordion__list {
    columns: 2 auto;
    column-gap: 28px;
  }

  .accordion__list-item {
    margin-bottom: 23px;
    max-width: 82px;
  }

  .accordion__list-item-link {
    font-size: 14px;
    line-height: 110%;
  }

  .guests__card-image {
    margin: 0px 0 7px 0;
  }

  .guests__card-social-list {
    margin: 0 0 8px 0;
  }

  .guests__card-describtion {
    margin: 0px 0 30px 0;
    line-height: 181%;
  }

  .guests__card-social-list-item-link {
    width: 36px;
    height: 36px;
  }

  .guests__card-social-list-item-link > svg {
    width: 36px;
    height: 36px;
  }

  .guests__card-social-list-item:not(:last-child) {
    margin-right: 21px;
  }

  .guests__card-link {
    padding: 6px 13px 9px 13px;
  }

  /* section playlists */

  .playlists__container {
    padding-top: 53px;
    padding-bottom: 54px;
  }

  .playlists__left {
    display: grid;
    grid-template-columns: repeat(1, minmax(256px, 1fr));
    column-gap: 0;
    row-gap: 30px;
  }

  .playlists__title {
    margin-bottom: 20px;
  }

  .radio-list-title {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 12px;
  }

  .radio-list {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    max-width: 279px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .radio-list::-webkit-scrollbar {
    display: none;
  }

  .radio-list__item {
    margin-right: 15px;
    width: 100%;
  }

  .radio-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .radio-list__label {
    padding: 5px 20px 9px 20px;
    height: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-primary);
  }

  .radio-list__item:nth-child(2) .radio-list__label {
    padding: 5px 23px 9px 23px;
  }

  .radio-list__item:nth-child(3) .radio-list__label {
    padding: 5px 19px 9px 19px;
  }

  .radio-list__item:nth-child(4) .radio-list__label {
    padding: 5px 42px 9px 42px;
  }

  .radio-list__item:nth-child(5) .radio-list__label {
    padding: 5px 51px 9px 51px;
  }

  .radio-list__item:nth-child(6) .radio-list__label {
    padding: 5px 48px 9px 48px;
  }

  .radio-list__item:nth-child(7) .radio-list__label {
    padding: 5px 45px 9px 45px;
  }

  .radio-list__item:last-child .radio-list__label {
    padding: 5px 14px 9px 14px;
  }

  .radio-list__label input + span::before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary);
    z-index: -1;
    transition: color 0.3s ease-in-out;
  }

  .radio-list__item .radio-list__label input + span {
    transition: color 0.3s ease-in-out;
  }

  .radio-list__label input:checked + span {
    color: var(--color-white);
  }

  .radio-list__label input:checked + span::before {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
  }

  .radio-list__item .radio-list__label input + span::before {
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .radio-list__item:hover .radio-list__label input + span::before {
    border-color: var(--color-primary-light);
    background-color: var(--color-primary-light);
    z-index: -1;
  }

  .radio-list__item:hover .radio-list__label input + span {
    color: var(--color-white);
  }

  .radio-list__label:focus-visible input + span::before {
    outline: none;
    border-color: var(--color-primary);
    background-color: var(--color-primary-light);
    z-index: -1;
  }

  .radio-list__label:focus-visible input:checked + span::before {
    outline: none;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary-light);
    z-index: -1;
  }

  .radio-list__item:active .radio-list__label  input + span::before {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    z-index: -1;
  }

/*=====================================================*/

  .playlists__list {
    grid-template-columns: repeat(2, 113px);
    grid-template-rows: repeat(6, 159px);
    margin-top: -12px;
  }

  .playlists__list-item-top {
    position: relative;
    min-height: 113px;
    height: 113px;
  }

  .playlists__list-item-top-lang {
    right: 0;
    left: auto;
  }

  .playlists__list-item-top > img {
    width: 100%;
  }

  .playlists__list-item-bottom {
    padding: 8px 5px 5px 9px;
  }


  .playlists__list-item {
    flex-direction: column;
  }


  .playlists__list-item-title {
    margin: 0;
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__list-item-text {
    font-size: 9px;
    line-height: 9px;
  }

  .playlists__left-bottom-text {
    max-width: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__left-bottom-copyright {
    font-size: 12px;
    line-height: 22px;
  }

  .playlists__left-bottom {
    grid-column: 1 / 2 span;
    grid-row: 8 / 1 span;
    margin-top: -8px;
    padding-top: 28px;
  }


  /* section radio-column */

  .radio-column__container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .radio-column__left {
    margin: 0 0 24px 1px;
  }

  .radio-column__title {
    margin-bottom: 13px;
  }

  .radio-column__vector-decorate {
    width: 100%;
    background-position: -192px 0px;
    background-size: 206% 100%;
  }

  .radio-column__text {
    min-width: 100%;
    font-size: 14px;
    line-height: 157%;
  }

  .radio-column__text-bottom {
    margin: 0 0 11px 0;
  }

  .radio-column__right-price {
    font-size: 24px;
    line-height: 24px;
  }

  .radio-column__right-price {
    margin-bottom: 20px;
  }

  .radio-column__right-link {
    padding: 13px 14px 13px 13px;
  }

  .radio-column__right-link-text {
    margin-top: -3px;
    font-size: 16px;
    line-height: 100%;
  }

  /* section about */

  .about__container {
    padding-top: 53px;
    padding-bottom: 51px;
  }

  .about__title {
    margin: 0;
    margin-bottom: 12px;
  }

  .about__subtitle {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 150%;
  }

  .about__text {
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 157%;
  }

  .about__form-input-item {
    position: relative;
    display: block;
    width: 100%;
  }

  .about__form-textarea {
    padding: 15px 23px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-textarea::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-input {
    margin-bottom: 30px;
    padding: 14px 23px 15px 23px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .btn-form {
    margin-bottom: 17px;
    padding: 13px 43px 17px 43px;
    max-width: max-content;
  }

  .checkbox-form span {
    font-size: 9px;
    line-height: 9px;
  }

  .checkbox-form span::before {
    top: 4px;
    left: 0px;
    width: 13px;
    height: 13px;
  }

  .checkbox-form span::after {
    top: 4px;
    left: 1px;
    width: 11px;
    height: 12px;
  }

  .about__image-box {
    display: none;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .about__item {
    padding: 0 10px;
    max-width: 133px;
  }

  .about__item-img {
    margin-bottom: 12px;
  }

  .about__item-title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    max-width: 100px;
  }

  .about__item-description {
    font-size: 12px;
    line-height: 16px;
  }


  /* section footer */

  .footer {
    padding-top: 54px;
  }

  .footer__container {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  .footer__social-list {
    margin-bottom: 50px;
  }

  .footer__nav {
    margin: 0 auto;
    padding: 25px 0 27px 0;
    width: 100%;
    background-color: var(--color-black);
  }

  .footer__nav-list {
    margin: 0 auto;
    width: 256px;
    columns: 2 auto;
    column-gap: 30px;
  }

  .footer__nav-link {
    font-size: 12px;
    line-height: 12px;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin: 0;
  }

  .footer__nav-item {
    margin-bottom: 18px !important;
  }

  .copyright {
    padding-top: 6px;
  }

  .copyright__text {
    font-size: 12px;
    line-height: 103.34%;
    background-position: -42px 4px;
    background-size: 612%;
  }

  /*======================================================*/

  /* modal */

  .modal-entrance__inner {
    top: -100%;
    padding: 40px 20px;
    width: 256px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, top 1s ease-in-out;
  }

  .modal-entrance__inner-is-active {
    top: 55px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, top 1s ease-in-out;
  }

  .modal-entrance__title {
    margin-bottom: 7px;
    font-size: 24px;
  }

  .modal-entrance__close-btn {
    top: 20px;
    right: 20px;
  }

  .modal-entrance__close-btn > svg {
    width: 28px;
    height: 28px;
  }

  .modal-entrance__text {
    display: block;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
  }

  .modal-entrance__link {
    display: block;
    margin-top: -10px;
    margin-bottom: 19px;
    width: fit-content;
  }

  .modal-entrance__form {
    margin-bottom: 9px;
  }

  .modal-entrance__form-input {
    margin-bottom: 21px;
    padding: 9px 17px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal-entrance__form-input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .modal-entrance__form-btn {
    margin-bottom: 29px;
    padding: 10px 55px;
  }

  .modal-entrance__text-in {
    margin-bottom: 11px;
  }

  .modal-entrance__list {
    justify-content: space-between;
  }

}
