/* fonts */

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:italic;
  font-weight:300;
  src:  local('MullerLightItalic'), local('Muller-Light-Italic'),
    url('../fonts/muller-lightitalic.woff2') format('woff2'),
    url('../fonts/muller-lightitalic.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:normal;
  font-weight:400;
  src:  local('MullerRegular'), local('Muller-Regular'),
    url('../fonts/muller-regular.woff2') format('woff2'),
    url('../fonts/muller-regular.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:italic;
  font-weight:400;
  src:  local('MullerRegularItalic'), local('Muller-Regular-Italic'),
    url('../fonts/muller-regularitalic.woff2') format('woff2'),
    url('../fonts/muller-regularitalic.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:normal;
  font-weight:500;
  src:  local('MullerMedium'), local('Muller-Medium'),
    url('../fonts/muller-medium.woff2') format('woff2'),
    url('../fonts/muller-medium.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:normal;
  font-weight:700;
  src:  local('MullerBold'), local('Muller-Bold'),
    url('../fonts/muller-bold.woff2') format('woff2'),
    url('../fonts/muller-bold.woff') format('woff');
}

/* common styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-black: #121723;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-light-black: #292E39;
  --color-light-black-10: rgba(230, 232, 236, 0.1);
  --color-text-gray: #A1A6B4;
  --color-primary-shade: #4F28A5;
  --color-primary: #6D31EE;
  --color-primary-30: rgba(170, 157, 250, 0.3);
  --color-primary-light: #AA9DFA;
  --color-bittersweet: #FF6F6F;
  --color-light-color: #E6E8EC;
  --color-light-color-40: rgba(230, 232, 236, 0.4);
  --color-shade-gray: #D2D5DD;
  --color-promo-color: #F0D288;
  --color-promo-color-shade: #BB973E;

}

body {
  font-family: 'Muller', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.site-container {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 45px;
  max-width: 1200px;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-black);
}

/* header */

.header__top {
  margin: 0;
  padding: 0;
}

.header__top-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 45px;
}

.header-logo-link {
  display: block;
  width: 160px;
  height: 20px;
}

.header-logo-img {
  width: 100%;
  height: 100%;
}

.footer__social-logo-link {
  outline: none;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list-item:not(:last-child) {
  margin-right: 59px;
}

.header__list-item-link {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.header__list-item-link::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -10px;
  bottom: -4px;
  left: -10px;
  background-color: var(--color-primary-light);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

/* interaction styles start */
.header__list-item-link:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.header__list-item-link:focus-visible {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header__list-item-link:focus-visible.header__list-item-link::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__list-item-link:active {
  color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out;
}

/* interaction styles end */

.header__btns {
  display: flex;
  align-items: center;
}

.header__search-btn {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  outline: none;
}

.header__search-btn svg path {
  transition: stroke 0.3s ease-in-out;
}

/* interaction styles start */
.header__search-btn:hover svg path {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.header__search-btn:focus-visible svg path {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.header__search-btn:active svg path {
  stroke: var(--color-primary-shade);
  transition: stroke 0.3s ease-in-out;
}

/* interaction styles end */

.search-form {
  position: absolute;
  display: none;
  align-items: center;
  top: 28px;
  right: 173px;
  background-color: var(--color-white);
}

.search-input {
  margin-right: 5px;
  width: 278px;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  background-color: var(--color-white);
}

.search-form__search-btn {
  margin: 0;
}

.search-form__is-active {
  display: flex;
}

.header__login-btn {
  padding: 0.63em 1.9em;
  border-radius: 77px;
  border: 2px solid var(--color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* interaction styles start */

.header__login-btn:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__login-btn:focus-visible {
  color: var(--color-black);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__login-btn:active {
  color: var(--color-white);
  border-color: var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* interaction styles end */

.header__bottom {
  border: 1px solid var(--color-light-color);
}

.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom-list {
  display: flex;
  align-items: center;
}

.header__bottom-list-item:not(:last-child) {
  margin-right: 53px;
}

.header__bottom-list-item-link {
  position: relative;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-black);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.header__bottom-list-item-link::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -5px;
  bottom: -3px;
  left: -5px;
  background-color: var(--color-primary-light);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}


/* interaction styles start */

.header__bottom-list-item-link:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.header__bottom-list-item-link:focus-visible  {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header__bottom-list-item-link:focus-visible.header__bottom-list-item-link::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__bottom-list-item-link:active {
  color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out;
}

/* interaction styles end */

.header__bottom-player {
  display: flex;
  align-items: center;
}

.header__bottom-player-track {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 175px;
}

.player-track-left {
  padding: 10px 8px 11px 10px;
  border-left: 1px solid var(--color-light-color);
}

.player-track-right {
  padding: 8px 10px 8px 9px;
  border-left: 1px solid var(--color-light-color);
  border-right: 1px solid var(--color-light-color);
}

.player-track-btn {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.player-track-btn {
  outline: none;
}

/* interaction styles start */

.player-track-btn svg path {
  transition: fill 0.3s ease-in-out;
}

.player-track-btn:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.player-track-btn:focus-visible svg path {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.player-track-btn:active svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

/* interaction styles end */

.player-pause {
  display: none;
}

.player-is-active {
  display: inline-block;
}

.player-is-non-active {
  display: none;
}

.header__bottom-track {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.player-track-description {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-gray);
}

.player-track-name {
  color: var(--color-black);
}

.header__bottom-right-age-limit {
  width: 46px;
  height: 58px;
}

/***************************************************************************************************/
/* section hero*/

.hero__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 36px;
}

.hero__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 59px 0 0 0;
}

.hero__title {
  margin: 0 0 17px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.hero__title-decorate {
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
}

.hero__text {
  margin: 0 0 46px 0;
  max-width: 635px;
  line-height: 150%;
}

/* interaction styles start */

.hero__text-link {
  position: relative;
  color: var(--color-primary);
  border-bottom: 1px solid transparent;
  outline: none;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__text-link::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  background-color: var(--color-primary-light);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.hero__text-link:hover {
  border-bottom: 1px solid var(--color-primary);
  transition: border 0.3s ease-in-out;
}

.hero__text-link:focus-visible {
  border: none;
  color: var(--color-white);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__text-link:focus-visible.hero__text-link::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hero__text-link:active {
  color: var(--color-primary-shade);
  border-bottom: 1px solid var(--color-primary-shade);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* interaction styles end */

.hero-btn {
  display: inline-block;
  padding: 1.14em 2.61em;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 40px;
  border: 2px solid transparent;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* interaction styles start */

.hero-btn:hover {
  background-color: var(--color-primary-light);
  transition: background-color 0.3s ease-in-out;
}

.hero-btn:focus-visible {
  outline: none;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary-light);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero-btn:active {
  border: 2px solid var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__img {
  margin-right: 4px;
  max-width: 350px;
}

.hero__img-image {
  width: 100%;
}

/* interaction styles end */


/***************************************************************************************************/
/* section podcasts */

.podcasts {
  background-color: var(--color-light-color);
}

.podcasts__container {
  padding-top: 91px;
  padding-bottom: 94px;
}

.podcasts__title {
  margin-bottom: 33px;
}

.podcasts__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.podcasts__list-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 540px;
  background-color: var(--color-white);
}

.podcasts__list-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.podcasts__list-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.podcasts__prew-date {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 16px;
  font-size: 10px;
  line-height: 10px;
  background-color: var(--color-light-color);
}

.podcast-list-item-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.podcasts-list-item-inner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 30px 22px 30px;
  width: 100%;
  border-bottom: 1px solid var(--color-light-color);
}

.podcasts-list-item-inner-top__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.podcasts-list-item-inner-top__duration {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-black);
}

.podcasts-list-item-inner-top__title {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.podcasts-list-item-inner-top__author {
  color: var(--color-text-gray);
}

.podcasts-list-item-inner-top__btn {
  width: 48px;
  height: 48px;
  outline: none;
}

/* interaction styles start */

.podcasts-list-item-inner-top__btn svg path {
  transition: fill 0.3s ease-in-out;
}

.podcasts-list-item-inner-top__btn svg circle {
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.podcasts-list-item-inner-top__btn:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.podcasts-list-item-inner-top__btn:hover svg circle {
  stroke: var(--color-primary);
  transition: stroke 0.3s ease-in-out;
}

.podcasts-list-item-inner-top__btn:focus-visible svg path {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.podcasts-list-item-inner-top__btn:focus-visible svg circle {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.podcasts-list-item-inner-top__btn:active svg circle {
  fill: var(--color-primary-shade);
  stroke: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.podcasts-list-item-inner-top__btn:active svg path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

/* interaction styles end */


.item-inner-bottom-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 30px 4px 30px;
}

.item-inner-bottom-list__item {
  margin-right: 33px;
}

/* interaction styles start */

.item-inner-bottom-list-item-btn {
  position: relative;
  color: var(--color-text-gray);
  outline: none;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background-color: var(--color-primary-light);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.item-inner-bottom-list-item-btn svg path {
  transition: fill 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:focus-visible svg path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:focus-visible.item-inner-bottom-list-item-btn::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:active {
  color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:active svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

.item-inner-bottom-list-item-btn:active svg {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

/*
.item-inner-bottom-list__item:focus-visible svg path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
} */

/* interaction styles end */

.hidden {
  display: none;
}

.podcast-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 23px 52px;
  border-radius: 40px;
  border: 2px solid var(--color-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-primary);
  background-color: transparent;
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* interaction styles start */

.podcast-btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.podcast-btn:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.podcast-btn:active {
  border: 2px solid var(--color-primary-shade);
  color: var(--color-white);
  background-color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* interaction styles end */


/***************************************************************************************************/
/*# section transfers #*/

.transfers__container {
  display: flex;
  padding-top: 91px;
  padding-bottom: 95px;
}

.transfers__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.transfers__title {
  margin-bottom: 12px;
}

.transfers-select-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 255px;
}

.transfers-select-label {
  margin-bottom: 8px;
}

/* castom select start */
.choices {
  width: 100%;
}

.choices[data-type*=select-one]:after {
  z-index: 3;
}

.choices__inner {
  position: relative;
  padding: 7px;
  min-height: 40px;
  border-radius: 10px;
  border: 1px solid var(--color-light-color);
  background-color: var(--color-light-color);
  z-index: 2;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.is-open .choices__inner {
  border-radius: 10px;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border: 1px solid var(--color-primary);
  transition: border 0.3s ease-in-out;
}

.choices__inner:hover {
  border: 1px solid var(--color-light-color-40);
  background-color: var(--color-light-color-40);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.choices__inner:hover.choices__inner {
  border: 1px solid transparent;
}

.is-open .choices__inner:hover.choices__inner  {
  border: 1px solid var(--color-light-color);
  background-color: var(--color-light-color);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.choices__inner:active {
  border: 1px solid var(--color-shade-gray);
  background-color: var(--color-shade-gray);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/*костыль для продления бордера вверх*/
.choices__list--dropdown {
  padding-top: 12px;
  top: calc(100% - 12px);
}

.choices__list--dropdown.is-active {
  border: 1px solid var(--color-light-color);
  border-top-color: transparent;
  border-radius: 0 0 10px 10px;
}

/* interaction styles start */
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--color-black);
  background-color: var(--color-light-color-40);
}

.choices__list--dropdown .choices__item--selectable.is-focused{
  color: var(--color-black);
  background-color: var(--color-primary-light);
}

.choices__list--dropdown .choices__item--selectable.is-active{
  color: var(--color-black);
  background-color: var(--color-light-color);
}

.choices__list--dropdown .is-selected {
	display: none;
}

/* interaction styles end */

/* castomize arrow start */
.choices[data-type*="select-one"]::after {
  top: 37%;
  right: 17px;
  margin: 0;
  width: 8px;
  height: 8px;
  border-top: none;
  border-right: none;
  border-left: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  transform: rotate(-45deg);
}

.choices[data-type*="select-one"].is-open::after {
  top: 47%;
  right: 17px;
  margin: 0;
  width: 8px;
  height: 8px;
  border-top: none;
  border-right: none;
  border-left: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  transform: rotate(135deg);
}
/* castomize arrow end */

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.choices__item:last-child {
  border: none;
}

.choices__list--dropdown .choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-text-gray);
}
.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--color-shade-gray);
}

.choices__list--dropdown .choices__item--selectable {
  padding: 12px 12px;
}

/* castom select end */

.transfers-left-bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.transfers-left-bottom-img {
  margin-bottom: 24px;
}

.transfers-left-bottom-link {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 11px;
  padding: 0.63em 3.4em;
  border: 2px solid var(--color-black);
  border-radius: 77px;
  transition: background-color 0.3s ease-in-out;
}

/* interaction styles start */

.transfers-left-bottom-link:hover {
  background-color: var(--color-black);
  transition: background-color 0.3s ease-in-out;
}

.transfers-left-bottom-link  .transfers-left-bottom-link-text {
  transition: color 0.3s ease-in-out;
}

.transfers-left-bottom-link:hover  .transfers-left-bottom-link-text {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.transfers-left-bottom-link:focus-visible {
  outline: none;
  background-color: var(--color-primary-light);
  transition: background-color 0.3s ease-in-out;
}

.transfers-left-bottom-link:focus-visible .transfers-left-bottom-link-text {
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.transfers-left-bottom-link:active {
  border-color: var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: background-color 0.3s ease-in-out;
}

.transfers-left-bottom-link:active .transfers-left-bottom-link-text {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

/* interaction styles end */

.transfers-left-bottom-link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.transfers-left-bottom__describe {
  line-height: 150%;
  color: var(--color-text-gray);
}

.transfers__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 17px;
}

/* transfers card */

.transfers__list-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
  cursor: pointer;
}

.transfers__list-item::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  padding: 8px;
  border: 1px solid var(--color-primary);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.transfers__list-item-bottom {
  padding: 20px 16px 18px 15px;
  width: 100%;
  border: 1px solid var(--color-light-color);
}

.transfers__list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.transfers__list-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.transfers__list-item-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: var(--color-black);
}

.transfers__list-item-description {
  display: inline-block;
  margin-bottom: 19px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-gray);
}

.transfers__list-item-link {
  position: relative;
  display: flex;
  align-items: center;
  font-style: italic;
  width: max-content;
  z-index: 1;
  outline: none;
  color: var(--color-black);
}

.transfers__list-item-link-icon {
  width: 28px;
  height: 15px;
}

.transfers__list-item-link::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background-color: var(--color-primary-light);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

/* interaction styles start */
/* hover */
.transfers__list-item .transfers__list-item-link {
  transition: color 0.3s ease-in-out;
}

.transfers__list-item .transfers__list-item-link svg path {
  transition: fill 0.3s ease-in-out;
}

.transfers__list-item:hover .transfers__list-item-link {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.transfers__list-item:hover .transfers__list-item-link svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

/* focus */
.transfers__list-item:focus-visible {
  outline: var(--color-primary);
}

.transfers__list-item:focus-visible.transfers__list-item::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.transfers__list-item:focus-visible .transfers__list-item-link {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.transfers__list-item:focus-visible .transfers__list-item-link::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.transfers__list-item:focus-visible .transfers__list-item-link svg path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

/* active */

.transfers__list-item:active .transfers__list-item-link {
  color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out;
}

.transfers__list-item:active .transfers__list-item-link svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

/* interaction styles end */


/***************************************************************************************************/
/*# section guests #*/

.guests {
  background-color: var(--color-black);
}

.guests__container {
  padding-top: 91px;
  padding-bottom: 94px;
}

.guests__title {
  margin-bottom: 15px;
  color: var(--color-white);
}

.guests__subtitle {
  margin: 0 0 7px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text-gray);
}

.guests__text {
  margin: 0 0 50px 0;
  max-width: 777px;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-text-gray);
}

.guests__inner {
  display: flex;
  align-items: flex-start;
}

/* accordion start*/

.accordion {
  margin-right: 30px;
  width: 730px;
}

.accordion__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 2px 22px 0px;
  border-top: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* скрытие лишнего верхнего бордера */
.accordion__item:not(:first-child) {
  margin-top: -1px;
}

.accordion__item >.ui-icon {
  display: none;
}

.accordion__item-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.accordion__list {
  columns: 4 auto;
  column-gap: 30px;
}

.accordion__list-item {
  margin-bottom: 14px;
}

.accordion__item-content {
  padding: 29px 0 23px 0;
}

/* interaction styles start */

.accordion__list-item-link {
  position: relative;
  cursor: pointer;
  color: var(--color-white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.accordion__list-item-link:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.accordion__list-item-link:focus {
  outline: none;
  padding: 2px;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.accordion__list-item-link--active {
  color: var(--color-primary-light);
}

/* interaction styles end */

.ui-accordion-header-active {
  border-color: var(--color-primary-light);
}

/* acordion item interaction styles start  */
.ui-accordion-header-active svg {
  transform: rotate(180deg);
}

.accordion__item .accordion__item-title {
  transition: color 0.3s ease-in-out;
}

.accordion__item:hover .accordion__item-title {
  color: var(--color-primary-light);
  transition: color 0.3s ease-in-out;
}

.accordion__item svg path  {
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:hover svg path  {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item svg circle {
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.accordion__item:hover svg circle {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:focus-visible {
  background-color: var(--color-primary-30);
  transition: background-color 0.3s ease-in-out;
}

.accordion__item:focus-visible .accordion__item-title {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.accordion__item:focus-visible svg path {
  stroke: var(--color-text-gray);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:focus-visible svg circle {
  stroke: var(--color-text-gray);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:active .accordion__item-title {
  color: var(--color-primary-light);
  transition: color 0.3s ease-in-out;
}

.accordion__item:active svg path {
  stroke: var(--color-white);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:active svg circle {
  stroke: var(--color-primary-light);
  fill: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}
/* acordion item interaction styles end */


.guests__card {
  display: none;
  max-width: 350px;
}

.tabs-content-active {
  display: block;
}

.guests__card-image {
  margin-top: 2px;
  margin-bottom: 7px;
}

.guests__card-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 8px 0;
}

.guests__card-social-list-itemm:not(:last-child) {
  margin-right: 30px;
}

.guests__card-social-list-item-link {
  width: 24px;
  height: 24px;
  outline: none;
}

/* social link interaction styles start */
.guests__card-social-list-item-link svg path {
  transition: fill 0.3s ease-in-out;
}

.guests__card-social-list-item-link:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.guests__card-social-list-item-link:focus-visible svg path {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.guests__card-social-list-item-link:active svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}
/* social link interaction styles end */

.guests__card-title {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.guests__card-describtion {
  margin: 0 0 31px 0;
  line-height: 180%;
  color: var(--color-text-gray);
}

.guests__card-link {
  display: inline-block;
  padding: 10px 18px;
  border: 2px solid var(--color-primary-light);
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-primary-light);
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/*interaction styles start */

.guests__card-link:hover {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.guests__card-link:focus-visible {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.guests__card-link:active {
  color: var(--color-white);
  border-color: var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* interaction styles end */

/***************************************************************************************************/
/*# section playlists #*/

.playlists__container {
  display: flex;
  align-items: flex-start;
  padding-top: 91px;
  padding-bottom: 93px;
}

.playlists__title {
  margin-bottom: 13px;
}

.playlists__left {
  margin-right: 30px;
  min-width: 350px;
}


/* radio */

.radio-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 22px;
}

.radio-list {
  margin-left: 2px;
}

.radio-list-title {
  margin-bottom: 8px;
  color: var(--color-text-gray);
}

.radio-list__item {
  width: max-content;
}

.radio-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.radio-list__label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: max-content;
  height: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
  cursor: pointer;
}

.radio {
  display: none;
}

/* interaction styles start */

.radio + span {
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 26px;
  height: 26px;
  border: 2px solid var(--color-text-gray);
  text-align: center;
  border-radius: 50px;
  transition: border 0.3s ease-in-out;
}

.radio:checked + span {
  border: 7px solid var(--color-primary);
  opacity: 1;
  transition: border 0.3s ease-in-out;
}

.radio-list__item .radio + span {
  transition: border 0.3s ease-in-out;
}

.radio-list__item:hover .radio + span {
  border-color: var(--color-primary);
  transition: border 0.3s ease-in-out;
}

/* .radio-list__item:focus-visible {
  outline: none;
} */

.radio-list__label:focus-visible {
  outline: none;
}

.radio-list__label.radio + span {
  transition: border 0.3s ease-in-out,  background-color 0.3s ease-in-out;
}

.radio-list__label:focus-visible .radio + span {
  outline: none;
  border-color: var(--color-primary);
  background-color: var(--color-shade-gray);
  transition: border 0.3s ease-in-out,  background-color 0.3s ease-in-out;
}

.radio-list__item:active .radio + span {
  border: 7px solid var(--color-primary);
  transition: border 0.3s ease-in-out;
}

/* interaction styles end */

/* END radio */

.playlists__left-bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 37px;
  border-top: 1px solid var(--color-shade-gray);
}

.playlists__left-bottom-text {
  margin: 0;
  max-width: 300px;
  line-height: 22px;
  color: var(--color-text-gray);
}

.playlists__left-bottom-copyright {
  margin-bottom: 6px;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text-gray);
}

.playlists__right {
  padding-top: 14px;
}

.playlists__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.playlists__list-item {
  position: relative;
  margin-top: 3px;
  margin-bottom: 27px;
  width: 160px;
}

.playlists__list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.playlists__list-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.playlists__list-item-top {
  position: relative;
  height: 160px;
}

.playlists__list-item-bottom {
  padding: 13px 5px 14px 15px;
  border: 1px solid var(--color-light-color);

}

.playlists__list-item-title {
  margin: 0 0 1px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.playlists__list-item-text {
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-gray);
}

.playlists__list-item-top-lang {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 24px;
  height: 20px;
  background-color: var(--color-black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
}

.playlists__list-item-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/playlist_play_btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  z-index: 1;
  opacity: 0;
}

.playlists__list-item-top::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
}

/* interaction styles start */
/* hover */

.playlists__list-item .playlists__list-item-top::before {
  transition: opacity 0.3s ease-in-out, background-size 0.3s ease-in-out;
}

.playlists__list-item .playlists__list-item-top::after {
  transition: opacity 0.3s ease-in-out;
}

.playlists__list-item .playlists__list-item-bottom {
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.playlists__list-item .playlists__list-item-title {
  transition: color 0.3s ease-in-out;
}

.playlists__list-item .playlists__list-item-text {
  transition: color 0.3s ease-in-out;
}

.playlists__list-item:hover .playlists__list-item-bottom {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.playlists__list-item:hover .playlists__list-item-title {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.playlists__list-item:hover .playlists__list-item-text {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.playlists__list-item:hover .playlists__list-item-top::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out, background-size 0.3s ease-in-out;
}

.playlists__list-item:hover .playlists__list-item-top::after {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* focus */

.playlists__list-item:focus-visible {
  outline: none;
}

.playlists__list-item:focus-visible .playlists__list-item-bottom {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.playlists__list-item:focus-visible .playlists__list-item-title {
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.playlists__list-item:focus-visible .playlists__list-item-text {
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.playlists__list-item:focus-visible .playlists__list-item-top::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out, background-size 0.3s ease-in-out;
}

.playlists__list-item:focus-visible .playlists__list-item-top::after {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* active */

.playlists__list-item:active .playlists__list-item-bottom {
  border-color: var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.playlists__list-item:active .playlists__list-item-title {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.playlists__list-item:active .playlists__list-item-text {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.playlists__list-item:active .playlists__list-item-top::before {
  opacity: 1;
  background-size: 56px;
  transition: opacity 0.3s ease-in-out, background-size 0.3s ease-in-out;
}

.playlists__list-item:active .playlists__list-item-top::after {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* interaction styles end */


/***************************************************************************************************/
/* section radio-column */

.radio-column {
  background-color: var(--color-light-black);
}

.radio-column__container {
  display: flex;
  align-items: flex-start;
  padding-top: 91px;
  padding-bottom: 134px;
}

.radio-column__left {
  margin: 0 30px 0 0;
}

.radio-column__left-img {
  margin-top: 3px;
  width: 640px;
  margin-left: -5px;
}

.radio-column__right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.radio-column__title {
  margin-bottom: 19px;
  font-weight: 400;
  color: var(--color-promo-color);
}

.radio-column__vector-decorate {
  margin-bottom: 14px;
}

.radio-column__text {
  line-height: 180%;
  color: var(--color-white);
}

.radio-column__text-top {
  margin: 0 0 12px 0;
  max-width: 400px;
}

.radio-column__text-bottom {
  margin: 0 0 30px 0;
  max-width: 445px;
}

.radio-column__text-bottom-decorate {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-promo-color);
}

.radio-column__right-price {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-white);
}

.radio-column__right-link {
  display: flex;
  align-items: center;
  padding: 23px 11px;
  border-radius: 100px;
  border: 2px solid var(--color-promo-color);
  color: var(--color-promo-color);
  background-repeat: no-repeat;
  background-position: 13px 25px;
  background-size: 20px 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-column__right-link-text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

/* interaction styles start */

.radio-column__right-link #bg-circle {
  fill: var(--color-promo-color);
  transition: fill 0.3s ease-in-out;
}

.radio-column__right-link #drawing-circle {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

/* hover */
.radio-column__right-link:hover {
  color: var(--color-black);
  background-color: var(--color-promo-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-column__right-link:hover #bg-circle {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.radio-column__right-link:hover #drawing-circle {
  fill: var(--color-promo-color);
  transition: fill 0.3s ease-in-out;
}

/* focus */

.radio-column__right-link:focus-visible {
  outline: none;
  color: var(--color-black);
  background-color: var(--color-promo-color-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-column__right-link:focus-visible #bg-circle {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.radio-column__right-link:focus-visible #drawing-circle {
  fill: var(--color-promo-color);
  transition: fill 0.3s ease-in-out;
}

 /* active */

 .radio-column__right-link:active {
  outline: none;
  border-color: var(--color-promo-color-shade);
  color: var(--color-black);
  background-color: var(--color-promo-color-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-column__right-link:active #bg-circle {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.radio-column__right-link:active #drawing-circle {
  fill: var(--color-promo-color-shade);
  transition: fill 0.3s ease-in-out;
}



/* interaction styles end */


/***************************************************************************************************/
/*# section about #*/
.about {
  background-color: var(--color-black);
}

.about__container {
  padding-top: 91px;
  padding-bottom: 91px;
}

.about__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about__top-text {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 635px;
}

.about__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-white);
}

.about__subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text-gray);
}

.about__text {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-text-gray);
}

.about__image-box {
  display: inline-flex;
  align-items: center;
  margin-top: 2px;
}

.about__spiral-image {
  display: inline-block;
  margin-right: 32px;
  width: 160px;
  height: 290px;
}

.about__dawn-image {
  display: inline-block;
  width: 255px;
  height: 255px;
}

.about__list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.about__item {
  max-width: 255px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__item-img {
  margin-bottom: 30px;
}

.about__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.about__item-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-gray);
}

/*  slick-slider settings  */

.slick-arrow {
  position: absolute;
  top: 107px;
  margin: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.slick-prev {
  left: -75px;
  background-image: url('../img/guest-arow-prev.svg');
}

.slick-next {
  right: -75px;
  background-image: url('../img/guest-arow-next.svg');
}

/* about form */

.about__form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  max-width: 920px;
}

.about__form-textarea {
  display: block;
  margin-bottom: 30px;
  padding: 30px 32px;
  resize: none;
  min-height: 150px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__form-textarea::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-text-gray);
}

.about__form-input {
  display: inline-block;
  margin-bottom: 30px;
  padding: 22px 32px;
  width: 445px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__form-input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-text-gray);
}

.about__form-textarea:hover {
  background-color: var(--color-light-black-10);
  transition: background-color 0.3s ease-in-out;
}

.about__form-input:hover {
  background-color: var(--color-light-black-10);
  transition: background-color 0.3s ease-in-out;
}

.about__form-textarea:focus-visible {
  border-color: var(--color-primary-light);
  background-color: var(--color-light-black-10);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__form-input:focus-visible {
  border-color: var(--color-primary-light);
  background-color: var(--color-light-black-10);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__form-textarea:active {
  border-color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__form-input:active {
  border-color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__form-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-form {
  margin-bottom: 28px;
  padding: 23px 54px;
  max-width: 212px;
}

.about__form-checkbox-label {
  position: relative;
  top: 0;
}

.about__form-input-checkbox {
  position: absolute;
  outline: none;
  opacity: 0;
}

.about__form-checkbox-text {
  position: relative;
  padding-left: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-white);
  cursor: pointer;
}

.about__form-checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid var(--color-white);
  width: 14px;
  height: 14px;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.about__form-checkbox-text::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/ok-img.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0;
}

.about__form-input-checkbox:checked + .about__form-checkbox-text::after {
  opacity: 1;
}

.about__form-input-checkbox:focus-visible + .about__form-checkbox-text::before {
  outline: 2px solid var(--color-white);
  transition: outline 0.3s ease-in-out;
}

/***************************************************************************************************/
/* section footer */

.footer {
  padding-top: 94px;
  background-color: var(--color-light-black);
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__social-logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__social {
  max-width: 160px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 114px;
}

/* interaction styles start */

.footer__social-link svg path {
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus {
  outline: none;
}

.footer__social-link:focus-visible svg path {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:active svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

/* interaction styles end */

.footer__nav-list {
  display: block;
  width: 446px;
  columns: 3 auto;
  column-gap: 121px;
}

.footer__nav-item:not(:nth-child(3n)) {
  margin-bottom: 16px;
}

.footer__nav-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-white);
  outline: none;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.footer__nav-link::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -5px;
  bottom: -3px;
  left: -5px;
  background-color: var(--color-primary-light);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

/* interaction styles start */

.footer__nav-link:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.footer__nav-link:focus-visible {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.footer__nav-link:focus-visible.footer__nav-link::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.footer__nav-link:active {
  color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out;
}

/* interaction styles end */

.copyright {
  padding-top: 89px;
  text-align: center;
  overflow: hidden;
}

.copyright svg {
  width: 107%;
}

.copyright__text {
  display: block;
  padding: 5px 0 11px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 103.34%;
  color: var(--color-text-gray);
}

/***************************************************************************************************/
/* modal form entrance */

.modal-entrance {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-50);
  z-index: 100;
}

.modal-entrance-is-active {
  display: flex;
}

.modal-entrance__inner {
  position: absolute;
  top: 80px;
  padding: 60px;
  width: 824px;
  height: 655px;
  background-color: var(--color-black);
  z-index: 101;
}

.modal-entrance__title {
  margin-bottom: 17px;
  color: var(--color-white);
}

.modal-entrance__text {
  margin: 0 0 30px 0;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.modal-entrance__link {
  margin-bottom: 25px;
  color: var(--color-primary);
}

.modal-entrance__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  outline: none;
}

/* interaction styles start */
.modal-entrance__close-btn svg circle {
  transition: stroke 0.3s ease-in-out;
}

.modal-entrance__close-btn svg path {
  transition: stroke 0.3s ease-in-out;
}

.modal-entrance__close-btn:hover svg circle {
  stroke: var(--color-primary);
  transition: stroke 0.3s ease-in-out;
}

.modal-entrance__close-btn:hover svg path {
  stroke: var(--color-primary);
  transition: stroke 0.3s ease-in-out;
}

.modal-entrance__close-btn:focus-visible svg circle {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.modal-entrance__close-btn:focus-visible svg path {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.modal-entrance__close-btn:active svg circle {
  stroke: var(--color-primary-shade);
  transition: stroke 0.3s ease-in-out;
}

.modal-entrance__close-btn:active svg path {
  stroke: var(--color-primary-shade);
  transition: stroke 0.3s ease-in-out;
}

/* interaction styles end */

.modal-entrance__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid var(--color-light-color-40);
}

.modal-entrance__form-input {
  margin-bottom: 30px;
  padding: 25px 32px;
  width: 526px;
  border: 1px solid var(--color-white);
  border-radius: 40px;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
  outline: none;
}

.modal-entrance__form-input::placeholder {
  font-size: 20px;
  line-height: 20px;
  color: var(--color-text-gray);
}

/* interaction styles start */
.modal-entrance__form-input:hover {
  background-color: var(--color-light-black-10);
  transition: background-color 0.3s ease-in-out;
}

.modal-entrance__form-input:focus-visible {
  border-color: var(--color-primary-light);
  transition: border-color 0.3s ease-in-out;
}

.modal-entrance__form-input:active {
  border-color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}

/* interaction styles end */

.modal-entrance__form-btn {
  margin-bottom: 30px;
  padding: 23px 52px;
}

.modal-entrance__list {
  display: flex;
}

.modal-entrance__item {
  width: 40px;
  height: 40px;
  outline: none;
}

.modal-entrance__item:not(:last-child) {
  margin-right: 40px;
}

.modal-entrance__link {
  outline: none;
}

/* interaction styles start */

.modal-entrance__link svg rect {
  transition: fill 0.3s ease-in-out;
}

.modal-entrance__link:hover svg rect {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.modal-entrance__link:focus-visible svg rect {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.modal-entrance__link:active svg rect {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

/* interaction styles end */
