/* fonts */

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:italic;
  font-weight:300;
  src:  local('MullerLightItalic'), local('Muller-Light-Italic'),
    url('../fonts/muller-lightitalic.woff2') format('woff2'),
    url('../fonts/muller-lightitalic.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:normal;
  font-weight:400;
  src:  local('MullerRegular'), local('Muller-Regular'),
    url('../fonts/muller-regular.woff2') format('woff2'),
    url('../fonts/muller-regular.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:italic;
  font-weight:400;
  src:  local('MullerRegularItalic'), local('Muller-Regular-Italic'),
    url('../fonts/muller-regularitalic.woff2') format('woff2'),
    url('../fonts/muller-regularitalic.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:normal;
  font-weight:500;
  src:  local('MullerMedium'), local('Muller-Medium'),
    url('../fonts/muller-medium.woff2') format('woff2'),
    url('../fonts/muller-medium.woff') format('woff');
}

@font-face{
  font-family:'Muller';
  font-display:swap;
  font-style:normal;
  font-weight:700;
  src:  local('MullerBold'), local('Muller-Bold'),
    url('../fonts/muller-bold.woff2') format('woff2'),
    url('../fonts/muller-bold.woff') format('woff');
}

/* common styles */

* {
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-black: #121723;
  --color-light-black: #292E39;
  --color-text-gray: #A1A6B4;
  --color-primary-shade: #4F28A5;
  --color-primary: #6D31EE;
  --color-primary-30: rgba(170, 157, 250, 0.3);
  --color-primary-light: #AA9DFA;
  --color-bittersweet: #FF6F6F;
  --color-light-color: #E6E8EC;
  --color-light-color-40: rgba(230, 232, 236, 0.4);
  --color-shade-gray: #D2D5DD;
  --color-promo-color: #F0D288;
  --color-promo-color-shade: #BB973E;


}

body {
  font-family: 'Muller', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}


.container {
  margin: 0 auto;
  padding: 0 45px;
  max-width: 1200px;
}

.title {
  margin: 0;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-black);
}

/* header */

.header__top {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-light-color);
}

.header-top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 45px;
}

.header__logo-img {
  width: 160px;
  height: 20px;
}

.header__list {
  display: flex;
  align-items: center;
}

.header-list__item:not(:last-child) {
  margin-right: 58px;
}

.header-list-item__link {
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-list-item__link:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-list-item__link:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-list-item__link:active {
  color: var(--color-primary-shade);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__btns {
  display: flex;
  align-items: center;
}

.header-search__btn {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  outline: none;
}

.header-search__btn svg path {
  transition: stroke 0.3s ease-in-out;
}

.header-search__btn:hover svg path {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.header-search__btn:focus svg path {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.header-search__btn:active svg path {
  stroke: var(--color-primary-shade);
  transition: stroke 0.3s ease-in-out;
}

.header-login__btn {
  padding: 10px 31px;
  border-radius: 77px;
  border: 2px solid var(--color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-login__btn:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-login__btn:focus {
  color: var(--color-black);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-login__btn:active {
  color: var(--color-white);
  border-color: var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.header__bottom {
  border-bottom: 1px solid var(--color-light-color);
}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom-list {
  display: flex;
  align-items: center;
}

.header-bottom-list__item {
  margin-right: 52px;
}

.header-bottom-list-item__link {
  font-weight: 400;
  line-height: 16px;
  color: var(--color-black);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-bottom-list-item__link:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-bottom-list-item__link:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-bottom-list-item__link:active {
  color: var(--color-primary-shade);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}



.header-bottom__player {
  display: flex;
  align-items: center;
  margin-right: 52px;
}

.header-bottom-player__track {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 11px 3px 11px;
  width: 175px;
}

.player-track__left {
  border-left: 1px solid var(--color-light-color);
}

.player-track__right {
  border-left: 1px solid var(--color-light-color);
  border-right: 1px solid var(--color-light-color);
}

.player-trak__btn {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.player-trak__btn {
  outline: none;
}

.player-trak__btn svg path {
  transition: fill 0.3s ease-in-out;
}

.player-trak__btn:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.player-trak__btn:focus svg path {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.player-trak__btn:active svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

.header-bottom__track {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player-track__description {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-gray);
}

.player-track__name {
  color: var(--color-black);
}

.header-bottom-right__age-limit {
  width: 46px;
  height: 60px;
}

/* section hero*/

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 40px;
}

.hero__title {
  margin: 0 0 14px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.hero__title-decorate {
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
}

.hero__text {
  margin: 0 0 70px 0;
  max-width: 635px;
  line-height: 150%;
}

.hero-text__link {
  color: var(--color-primary);
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero-text__link:hover {
  border-bottom: 1px solid var(--color-primary);
  transition: border 0.3s ease-in-out;
}

.hero-text__link:focus {
  outline: none;
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero-text__link:active {
  color: var(--color-primary-shade);
  border-bottom: 1px solid var(--color-primary-shade);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__btn {
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 40px;
  border: 2px solid transparent;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__btn:hover {
  background-color: var(--color-primary-light);
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary-light);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__btn:active {
  border: 2px solid var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}


/* section podcasts */

.podcasts {
  padding: 94px 0;
  background-color: var(--color-light-color);
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.podcasts-list__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 540px;
  background-color: var(--color-white);
}

.podcasts-list__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

/*.podcasts__prew {

} */

.podcasts-prew__date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 6px;
  font-size: 10px;
  line-height: 10px;
  background-color: var(--color-light-color);
}

.podcast-list-item__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.podcasts-list-item-inner__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 21px 30px;
  border-bottom: 1px solid var(--color-light-color);
}

.podcasts-list-item-inner-top__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.podcasts-list-item-inner-top__duration {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-black);
}

.podcasts-list-item-inner-top__title {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.podcasts-list-item-inner-top__author {
  color: var(--color-text-gray);
}

.podcasts-list-item-inner__btn {
  width: 48px;
  height: 48px;
  outline: none;
}

.podcasts-list-item-inner__btn svg path {
  transition: fill 0.3s ease-in-out;
}

.podcasts-list-item-inner__btn svg circle {
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.podcasts-list-item-inner__btn:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.podcasts-list-item-inner__btn:hover svg circle {
  stroke: var(--color-primary);
  transition: stroke 0.3s ease-in-out;
}

.podcasts-list-item-inner__btn:focus svg path {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.podcasts-list-item-inner__btn:focus svg circle {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.podcasts-list-item-inner__btn:active svg circle {
  fill: var(--color-primary-shade);
  stroke: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.podcasts-list-item-inner__btn:active svg path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}



.item-inner-bottom__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 30px 6px 30px;
}

.item-inner-bottom-list__item {
  margin-right: 30px;
}

.item-inner-bottom-list-item__btn {
  padding: 2px 2px 2px 2px;
  color: var(--color-text-gray);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn svg path {
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn:focus svg path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn:active {
  color: var(--color-primary-shade);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn:active svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.item-inner-bottom-list-item__btn:active svg {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}

/* 
.item-inner-bottom-list__item:focus svg path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
} */ 


.podcast__btn {
  display: block;
  margin: 0 auto;
  padding: 25px 54px;
  border-radius: 40px;
  border: 2px solid var(--color-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-primary);
  background-color: transparent;
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.podcast__btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.podcast__btn:focus {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.podcast__btn:active {
  border: 2px solid var(--color-primary-shade);
  color: var(--color-white);
  background-color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* section transfers */

.transfers {
  padding: 94px 0 64px 0;
}

.transfers__container {
  display: flex;
}

.transfers__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.transfers__title {
  margin-bottom: 12px;
}

.transfers-select__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.transfers-select__label {
  margin-bottom: 8px;
}

/* кастомизация селекта*/

.choices {
  width: 255px;
}

.choices.is-open {
  background-color: var(--color-light-color);
  border-radius: 10px;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 40%;
  border: 1px solid var(--color-text-gray);
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid var(--color-shade-gray);
  border-width: 1px 1px 0 0;
}

.choices__inner {
  position: relative;
  padding: 12px 15px 12px 12px;
  border: none;
  background-color: var(--color-light-color);
  border-radius: 10px;
  z-index: 2;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 12px;
}

.is-open .choices__inner {
  border: none;
  border-radius: 10px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown { /*костыль для продления бордера вверх*/
  padding-top: 30px; 
  top: calc(100% - 30px);
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
  border-bottom: 1px solid var(--color-shade-gray);
}

.choices__list--dropdown.is-active {
  border: 1px solid var(--color-shade-gray);
  border-top-width: 0;
  border-radius: 0 0 10px 10px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: var(--color-light-color-40);
}


/* скрытие плейсхолдера */

#choices--default-item-choice-6 {
  display: none;
}

/* стилизация кастомной стрелки */

.choices[data-type*="select-one"]::after {
  top: 37%;
  right: 17px;
  margin: 0;
  width: 8px;
  height: 8px;
  border-top: none;
  border-right: none;
  border-left: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  transform: rotate(-45deg);
}

.choices[data-type*="select-one"].is-open::after {
  top: 47%;
  right: 17px;
  margin: 0;
  width: 8px;
  height: 8px;
  border-top: none;
  border-right: none;
  border-left: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  transform: rotate(135deg);
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.choices__item:last-child {
  border: none;
}

.choices__list--dropdown .choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.choices__list--dropdown .choices__item--selectable {
  padding: 12px 12px;
}
  
/* конец селекта */

.transfers-left__bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.transfers-left-bottom__img {
  margin-bottom: 24px;
}

.transfers-left-bottom__link {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 12px;
  padding: 11px 45px;
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.transfers-left-bottom__link-icon {
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

.transfers-left-bottom__link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.transfers-left-bottom__describe {
  margin-bottom: 30px;
  line-height: 150%;
  color: var(--color-text-gray);
}

.transfers__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 14px;
}



/* transfers card */

.transfers-list__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
}

.transfers-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.transfers-item-img {
  margin-bottom: 20px;
}

.transfers-item__title {
  margin: 0 0 4px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.transfers-item__description {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-gray);
}

.transfers-item__link {
  display: flex;
  align-items: center;
  font-style: italic;
  color: var(--color-black);
}

.transfers-item-link__icon {
  width: 28px;
  height: 15px;
}

/* section guests */

.guests {
  padding: 94px 0;
  background-color: var(--color-black);
}

.guests__title {
  margin-bottom: 12px;
  color: var(--color-white);
}

.guests__subtitle {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text-gray);
}

.guests__text {
  margin: 0 0 50px 0;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-text-gray);
}

.guests__inner {
  display: flex;
  align-items: flex-start;
}

/* accordion start*/

.accordion {
  margin-right: 30px;
  width: 730px;
}

.accordion__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-top: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* скрытие лишнего верхнего бордера */
.accordion__item:not(:first-child) {
  margin-top: -1px;
}

.accordion__item >.ui-icon {
  display: none;
}

.accordion-item__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.accordion__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.accordion-item__content {
  padding: 30px 0;
}

.accordion-list-item__link {
  color: var(--color-white);
}

.ui-accordion-header-active {
  border-color: var(--color-primary-light);
}

/* acordion item effects */
.ui-accordion-header-active svg {
  transform: rotate(180deg);
}

.accordion__item .accordion-item__title {
  transition: color 0.3s ease-in-out;
}

.accordion__item:hover .accordion-item__title {
  color: var(--color-primary-light);
  transition: color 0.3s ease-in-out;
}

.accordion__item svg path  {
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:hover svg path  {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item svg circle {
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.accordion__item:hover svg circle {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:focus {
  background-color: var(--color-primary-30);
  transition: background-color 0.3s ease-in-out;
}

.accordion__item:focus .accordion-item__title {
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.accordion__item:focus svg path {
  stroke: var(--color-text-gray);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:focus svg circle {
  stroke: var(--color-text-gray);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:active .accordion-item__title {
  color: var(--color-primary-light);
  transition: color 0.3s ease-in-out;
}

.accordion__item:active svg path {
  stroke: var(--color-white);
  transition: stroke 0.3s ease-in-out;
}

.accordion__item:active svg circle {
  stroke: var(--color-primary-light);
  fill: var(--color-primary-light);
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}
/* end acordion item effects */


.guests__card {
  max-width: 350px;
}

.guests-card__image {
  margin-bottom: 12px;
}

.guests-card__social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 12px 0;
}

.guests-card-social-list__item:not(:last-child) {
  margin-right: 30px;
}

.guests-card-social-list-item__link {
  width: 24px;
  height: 24px;
  outline: none;
}

/* social link effects */
.guests-card-social-list-item__link svg path {
  transition: fill 0.3s ease-in-out;
}

.guests-card-social-list-item__link:hover svg path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.guests-card-social-list-item__link:focus svg path {
  fill: var(--color-primary-light);
  transition: fill 0.3s ease-in-out;
}

.guests-card-social-list-item__link:active svg path {
  fill: var(--color-primary-shade);
  transition: fill 0.3s ease-in-out;
}
/* end social link effects */

.guests-card__title {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.guests-card__describtion {
  margin: 0 0 30px 0;
  line-height: 180%;
  color: var(--color-text-gray);
}

.guests-card__link {
  padding: 8px 18px;
  border: 2px solid var(--color-primary-light);
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-primary-light);
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/*link effects */

.guests-card__link:hover {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.guests-card__link:focus {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.guests-card__link:active {
  color: var(--color-white);
  border-color: var(--color-primary-shade);
  background-color: var(--color-primary-shade);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* end link effects */ 